* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

div {
  opacity: 0.2;
  background: red;
  height: 30rem;
  flex: 1;
}

div[cq-min-400] {
  background: blue;
}

div[cq-min-800] {
  background: green;
}
