* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

div {
  opacity: 0.2;
  background: red;
  height: 30rem;
  flex: 1;
  max-height: 100vh;
}

div[cq-max-w-800] {
  background: yellow;
}

div[cq-max-w-400] {
  background: pink;
}

div[cq-min-w-400] {
  background: blue;
}

div[cq-min-w-800] {
  background: green;
}

div[cq-max-h-450] {
  border: 15px solid blue;
}
